body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    color: #212121
    
}
.menu{
    list-style-type: none;
    font-weight: 500;
}
.us-none{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover, 
.link:focus{
    color: #2196F3;
}
.blue{
    color: #2196F3;
}
.logo-all {
    font-family: 'Raleway';
    font-size: 26px;
    letter-spacing: 0.03em;
}
.logo-all:hover,
.logo-all:focus,
.logo-all:visited{
    color:black;
}

.slider-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.26em;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: #2F303A;;
}
.button-fp{
    border: none;
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.87em;
    cursor: pointer;
}
.head-first{
    font-weight: 700;
    line-height: 1.23em;
    letter-spacing: 0.03em;
}
.text-grey{
    line-height: 1.71em;
}
.head-second{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    letter-spacing: 0.03em;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
}
.office{
    font-size: 16px;
    line-height: 1.18em;
    letter-spacing: 0.03em;
    color: #757575;
}
.address{
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
}
.address{
    color: #ffffff;
}
.footer{
    background-color: #2F303A;;
}
.contact-footer{
    color: rgba(255, 255, 255, 0.6);
}
.filter{
    font-size: 16px;
    font-weight: 500;
    border:none;
    line-height: 1.62em;
    cursor: pointer;
    
}
.filter:hover,
.filter:focus{
    background-color: #2196F3;
    color: #ffffff;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}
.product{
    font-size: 16px;
    line-height: 1.87em;
    letter-spacing: 0.03em;
    color: #757575;
}